language: ruby
services: mongodb
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.5
  - 2.2.0
gemfile:
  - gemfiles/rails40.gemfile
  - gemfiles/rails41.gemfile
  - gemfiles/rails42.gemfile
matrix:
  allow_failures:
    - gemfile: gemfiles/rails42.gemfile
